* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: myFirstFont;
    src: url('christmas_snowflake/ChristmasSnowflake-Italic.ttf');
}
@font-face {
    font-family: name;
    src: url('christmas_family_2/Christmas\ Family.otf');
}
.banner {
    width: 100%;
    height: 100vh;
    background: url('./image/bg.avif') no-repeat center/cover;
}
.snow,.snow1 {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-position: 0 0;
    background-size: 500px;
}
.snow {
    background: url('./image/snow.png');
    animation: move1 20s linear infinite;
}
.snow1 {
    background: url('./image/snow2.png');
    animation: move2 20s linear infinite;
    background-size: 1500px;
    opacity: 0.5;
}
@keyframes move1 {
    to {
        background-position: 70rem 70rem;
    }
}
@keyframes move2 {
    to {
        background-position: 50rem 0rem;
    }
}
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title {
    font-size: 80px;
    color: white;
    font-family: myFirstFont;
    text-transform: capitalize;
    transition: 0.5s linear;
}
.title.hidden_title {
    visibility: hidden;
    opacity: 0;
}
.button {
    position: absolute;
    right: 50px;
    bottom: 50px;
    color: white;
    font-size: 25px;
    padding: 15px 25px;
    background-color: #cc4c4c;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    transition: 0.5s linear;
    z-index: 3;
}
.button.hidden_button {
    visibility: hidden;
    opacity: 0;
}
.button:hover {
    transform: scale(0.9);
}
.star {
    left: 30% !important;
    top: 15% !important;
}
.star.hidden_star {
    visibility: hidden !important;
    opacity: 0 !important;
}
.tree {
    left: 30% !important;
    top: 15% !important;
}
.tree.hidden_tree {
    visibility: hidden !important;
    opacity: 0 !important;
}
body ul:nth-child(2) li {
    left: 30% !important;
    top: 15% !important;
}
.box_image {
    position: absolute;
    left: 70%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
    width: 700px;
    transition: 0.5s linear;
    text-align: center;
}
.box_list {
    width: 100%;
    display: flex;
}
.box_image_title {
    font-size: 60px;
    color: white;
    margin-bottom: 20px;
    font-family: name;
}
.img1,.img2 {
    max-height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 2px 10px 3px rgba(245, 236, 236, 0.502);
    margin-right: 25px;
}
.box_image_item {
    width: 100%;
}
.hidden_image {
    visibility: visible;
    opacity: 0;
}
